# <div class='alert alert-info'> PYTHON </div>

In [1]:
name= input('what is your name')
print(name)

print('I am '+name)

print(type(10))
print(type(10.0))

print(5+5)
print(5-5)
print(5*5)
print(5/5)
print(7%5)
print(5**2) #power
print(4//5) #divide & return in int type ans 0
print(6//5) #divide & return in int type ans 1

what is your nameJayesh Raghuvanshi
Jayesh Raghuvanshi
I am Jayesh Raghuvanshi
<class 'int'>
<class 'float'>
10
0
25
1.0
2
25
0
1

#  Math Function

In [2]:
print(round(10.4))
print(round(10.7))

print(abs(-15)) #neg to pos

print(bin(10)) #convert num to binary
print(int('1010', 2)) #convert bin to number

a,b,c=1,2,3
print(a,b,c)

10
11
15
0b1010
10
1 2 3

# Augmented Assignment Operator

In [3]:
num=10
num+=5 #num-=5, num*=5, num/=5
print(num)

15

# str (string)

In [4]:
name = "Jayesh Singh"
multi_line_name = '''
Jayesh
Singh
Raghuvanshi'''

print(name)
print(multi_line_name)

Jayesh Singh

Jayesh
Singh
Raghuvanshi

In [5]:
first_name='jayesh'
last_name='Raghuvanshi'
name=first_name+' '+last_name
print(name)

jayesh Raghuvanshi

# Type Conversion

In [6]:
a='140'
print(type(a))
b=int(a)
print(type(b))

<class 'str'>
<class 'int'>

# Escape Sequence

In [7]:
weather= "It\'s a nice \"weather\" \n I hope you are enjoying it"
# \ means whatever comes after this is string
# \n new line
#\t tap space
print(weather)

It's a nice "weather"
 I hope you are enjoying it

# Format String

In [8]:
name = "Jayesh Raghuvanshi"
Id=24
print(f'Hello {name}, \n it\'s nice to meet you \n your id is {Id}')

Hello Jayesh Raghuvanshi,
 it's nice to meet you
 your id is 24

## <div class='alert alert-success'>String Slicing</div>

In [9]:
fun = '0123456789'
#[start:End:Step_over]
print(fun)
print(fun[0:10]) #all
print(fun[4:10]) #from index 4 to 10-1
print(fun[0:])   #from index 0 to all
print(fun[0:4])  #from index 0 to 3
print(fun[:5])   #from index start to 4
print(fun[::2])  #from start to end with skipping 2-1

0123456789
0123456789
456789
0123456789
0123
01234
02468

# Pass Checker

In [10]:
user_name=input('Enter your user name: ')
password = input('Enter your pass: ')

pass_len = len(password)
star = '*'* pass_len

print(f'{user_name}, your password is {pass_len} digit long {star}')

Enter your user name: Rajput
Enter your pass: 0110
Rajput, your password is 4 digit long ****

# DOB calculator

In [11]:
year = input('Enter your DOB : ')
DOB = 2022 - int(year)
print(f'You are {DOB} year old')

Enter your DOB : 2000
You are 22 year old

## <div class='alert alert-success'>List[]</div>

<div class='alert alert-info'>-> muttable <br>
-> index sequence start from 0 to n</div>

In [12]:
list = ['1','2','3','4','5']
list2 = ['6','7','8']

list3 = list  # here we are saying they both are equal, so a changes in one will affect other
list3[0] = ['9']
print(list3)
print(list)

list4 = list2[:] # here we are just copying the value of list2 into list4, so changes of list 4 will not affect list2
list4[0] = ['10']
print(list4)
print(list2)

[['9'], '2', '3', '4', '5']
[['9'], '2', '3', '4', '5']
[['10'], '7', '8']
['6', '7', '8']

## <div class='alert alert-success'> Method</div>

.append()

In [13]:
list = [1,2,3,4,5]
list.append(6)
print(list)

new_list = list.append(7) # here it will return none because append only changes value at a time
print(new_list)

# but if we do it like
list.append(7)
new_list=list
print(new_list)

[1, 2, 3, 4, 5, 6]
None
[1, 2, 3, 4, 5, 6, 7, 7]

.insert()

In [14]:
list=[1,2,3,4,5]
list.insert(4,6) #it will insert it at specified place,if there already element present then it will extend the later index by 1
print(list)

[1, 2, 3, 4, 6, 5]

.pop(index_to_remove)  .remove(value_to_remove)

In [15]:
list=[1,2,3,4,5,6,7,8,9]
list.pop(5) # specified index value removed
print(list)

list.remove(9) # specified element removed
print(list)

[1, 2, 3, 4, 5, 7, 8, 9]
[1, 2, 3, 4, 5, 7, 8]

.clear() -> delete all value

In [16]:
list.clear()
print(list)

[]

.index(value)  ->will show index of value mentioned

In [17]:
list=['a','b','c','d']
print(list.index('c'))

2

in

In [18]:
print('d' in list)

print("Jayesh" in "Hello, my name is Jayesh Singh Raghuvanshi")

print("hello" in list)

True
True
False

.count(value)

In [19]:
list=['a','b','a','c','d','a']
print(list.count('a'))

3

.count(value)

In [20]:
alpha=['d','b','c','a']
num=[3,2,4,1]
print(alpha.sort())
print(num.sort())  

alpha.sort()
num.sort()
print(alpha)
print(num)

None
None
['a', 'b', 'c', 'd']
[1, 2, 3, 4]

sorted(list)

->this one do not sort original list(array), it just create new list and stored the sorted value into it

In [21]:
alpha=['d','b','c','a']

print(sorted(alpha)) #it create new list, stored sorted value here
print(alpha) # here the original list is unchanged

['a', 'b', 'c', 'd']
['d', 'b', 'c', 'a']

print(sorted(alpha)) #it create new list, stored sorted value here


print(alpha) # here the original list is unchanged

.reverse()

In [22]:
alpha=['d','b','c','a']
alpha.reverse()
print(alpha)

# again reversing list to get original list
print(alpha[::-1]) # to reverse list

['a', 'c', 'b', 'd']
['d', 'b', 'c', 'a']

## <div class='alert alert-success'>list unpacking</div>

In [23]:
a,b,c, *any_name = [1,2,3,4,5,6,7,8,9]

print(a)
print(b)
print(c)
print(any_name)  #-> it will print all the rest of element after c

1
2
3
[4, 5, 6, 7, 8, 9]

In [24]:
print(c)

3

## <div class='alert alert-success'>Dictionary{} : key store value, key can be of any type as long as it it immutable</div>

In [25]:
# key store value, key can be of any type as long as it it immutable

dic_name = {
    'name1' : 'Jayesh Singh Raghuvanshi',
    'roll1' : 12011963,
    'name2' : "Raj SIngh Raghuvanshi",
    'roll2' : 12011964,
    'roll2' : 12011965
}

print(dic_name)
print(dic_name['name2']) # name2 is key which store value RSR
print(dic_name['roll2']) # roll2 value is updated from 12011964 to 12011965

{'name1': 'Jayesh Singh Raghuvanshi', 'roll1': 12011963, 'name2': 'Raj SIngh Raghuvanshi', 'roll2': 12011965}
Raj SIngh Raghuvanshi
12011965

In [26]:
print(dic_name.items()) # .items will show all key with it value

dict_items([('name1', 'Jayesh Singh Raghuvanshi'), ('roll1', 12011963), ('name2', 'Raj SIngh Raghuvanshi'), ('roll2', 12011965)])

In [27]:
dic_name.update({'roll2' : 12011964}) #it updated value of rool2

dic_name.update({'name3': "Saurabh Singh Raghuvanshi"})  # if the key not available it will add it to dictionary

## <div class='alert alert-success'>Tuple</div>

In [28]:
my_tuple=(1,2,3,4,5,6)
print(my_tuple)  # all list method can be applied on tuple too

print(my_tuple[1:3])

(1, 2, 3, 4, 5, 6)
(2, 3)

## <div class='alert alert-info'> Set{}: dict without key</div>

In [29]:
my_set={1,2,1,2,3,5,6,4,4}
print(my_set)

print(len(my_set)) # it will only count len of unique value because set only contain unique no. & ignore duplicate

{1, 2, 3, 4, 5, 6}
6

In [30]:
# remove all the duplicate value of list

my_list =[1,2,3,5,3,1,2,5]

print(set(my_list)) #convert that list into set

{1, 2, 3, 5}

## <div class='alert alert-success'> Hint</div>

<div class="alert alert-info"> list = [] -> muttable 

tuple = () -> immutable

dict = {} -> key , value

set = {} -> a dict without key, contain only unique value </div>